<form action="">

  <div class="form-group">
    <label for="email">Email Id:</label>
    <input type="email" class="form-control" id="email"  placeholder="Email Id">
  </div>

  <div class="form-group">
    <label for="pswd">Password:</label>
    <input type="password" class="form-control" id="pswd"  placeholder="Password">
  </div>

  <div class="form-group">
    <label for="contact">Contact Details:</label>
    <input type="number" class="form-control" id="contact"  placeholder="+91-">
  </div>

  <div class="form-group">
    <label for="paymentprovider">Payment Provider:</label>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="paytm" id="paytm" value="0">
        Paytm
      </label>
    </div>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tez" id="tez" value="1">
        Tez
      </label>
    </div>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="phonepe" id="phonepe" value="2">
        PhonePe
      </label>
    </div>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="cash" id="cash" value="3" checked>
        Cash
      </label>
    </div>

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
